h1{
  color: blue;
}
h3{
  clear: left;
}
div.dice{
  float:left;
  width:42px;
  background-color: red;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}
ol{
  text-align: justify;
  color: black;
}
.instruct{
  font-size: 15px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  border: 2 2 2 2;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blue;
}
body{
  background-color: #A9CCE3;
}
