h1{
  color: blue;
}
h3{
  clear: left;
}
div.dice{
  float:left;
  width:42px;
  background-color: red;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}
ol{
  text-align: justify;
  color: red;
}
