.jumbotron {
  background-color: #48C9B0;
  background-image: url("https://media0.giphy.com/media/3ohhwLh5dw0i7iLzOg/100.webp?cid=3640f6095c1735c361386a32452e91d0");
}

h1 {
  color: white;
}

h3 {
  clear: left;
}

div.dice {
  float: left;
  width: 42px;
  background-color: #EC7063;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

ol {
  text-align: justify;
  color: #8E44AD;
}

.col-sm-7 {
  font-size: 15px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  border: 2 2 2 2;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ABB2B9;
}

.col-sm-5 {
  font-size: 15px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  border: 2 2 2 2;
  margin-left: 28%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #7FB3D5;
}

body {
  background-color: #A9CCE3;
}
